body {
	margin: 0;
	font-family: "源ノ角ゴシック","原ノ味角ゴシック","Noto Sans Japanese","Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Yu Gothic", YuGothic, "游ゴシック体", Meiryo, "メイリオ", sans-serif;
}
.boxA, .box4, .box5 {
	padding-left: 15px;
	padding-right: 15px;
}
.boxA {
	padding-top: 20px;
	padding-bottom: 10px;
}
.boxA:after {
	content: "";
	display: block;
	clear: both;
}
.menu  {
	text-align: right;
}
.menu a {
	text-decoration: none;
}
.menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.menu li a {
	display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}
.menu li a:hover {
	background-color: #eeeeee;
}
.menu ul:after {
	content: "";
	display: block;
	clear: both;
}
.menu li {
	float: left;
	width: auto;
}
.gaiyou a {
	display: block;
	background-color: #0000ff;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}
.gaiyou a:hover {
	opacity: 0.8;
}
.gaiyou h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 36px;
	height: auto;
	vertical-align: bottom;
}
.gaiyou p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}
.news  {
	padding: 20px;
}
.news h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 18px;
	color: #666666;
	border-left-width: 6px;
	border-left-color: #0000ff;
	border-left-style: solid;
	padding-left: 7px;
}
.news ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.news li a {
	display: block;
	padding: 5px;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: #dddddd;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}
.news li a:hover {
	background-color: #eeeeee;
}
.news time {
	color: #888888;
	font-weight: bold;
}
.news a:after {
	content: "";
	display: block;
	clear: both;
}
.news time {
	float: left;
	width: 90px;
}
.news .text {
	float: none;
	width: auto;
}
.kiji h1 {
	margin-top: 0;
	padding-left: 20px;
	border-left-style: solid;
	border-left-width: 20px;
	border-left-color: #0000ff;
	color: #0000aa;
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: bold;
}
.kiji h2 {
	margin-top: 0;
	padding-left: 10px;
	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: #0000ff;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
}
.kiji h4 {
	margin-top: 0;
	padding-left: 10px;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #0000ff;
	margin-bottom: 10px;
	font-size: 18px;
	color: #0066ff;
	font-weight: bold;
}
.kiji .author {
	margin-top: 0;
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #626262;
}
.kiji .article {
	margin-top: 0;
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #626262;
}
.kiji p {
	margin-top: 0;
	margin-bottom: 20px;
}
.kiji img {
	width: 100%;
}
@media (max-width: 959px) {
.bread  {
	margin-bottom: 20px;
}
.bread ol {
	list-style: none;
	padding-left: 0;
}
.bread li a {
	display: inline-block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}
.bread li a:hover {
	background-color: #eeeeee;
}
.bread ol:after {
	content: "";
	display: block;
	clear: both;
}
.bread li {
	float: left;
	width: auto;
}
.bread li:after {
	content: "\003e";
	color: #888888;
	margin-left: 10px;
	margin-right: 10px;
}
.sidemenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidemenu li  {
	float: left;
}
.sidemenu li a  {
	display: block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}
.sidemenu li a:hover {
	background-color: #eeeeee;
}
#slideshow {
	width: 100%;
}
.copyright p {
	margin: 0;
	color: #666666;
	font-size: 14px;
}
.box5 {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #dddddd;
}
.box4 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.box6 h1 {
	font-size: 20px;
}
.menu li a {
	padding: 10px 7px;
	font-size: 14px;
}
.box7-1 {
	width: 100%;
}
.box7-1 img {
	width: 100%;
}
.box7-2 {
	width: 100%;
	height: 30px;
	padding-left: 15px;
	background-color: #7fbfff;
	color: #FFFFFF;
}
.box8 {
	padding-left: 15px;
	padding-bottom: 20px;
}
.box8-A {
}
.box8-B {
}
}
@media (min-width: 960px) {
.bread  {
	margin-bottom: 20px;
}
.bread ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.bread li a {
	display: inline-block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}
.bread li a:hover {
	background-color: #eeeeee;
}
.bread ol:after {
	content: "";
	display: block;
	clear: both;
}
.bread li {
	float: left;
	width: auto;
}
.bread li:after {
	content: "\003e";
	color: #888888;
	margin-left: 10px;
	margin-right: 10px;
}
.sidemenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidemenu li a  {
	display: block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}
.sidemenu li a:hover {
	background-color: #eeeeee;
}
.copyright p {
	margin: 0;
	color: #666666;
	font-size: 14px;
}
.box5 {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #dddddd;
}
.box4 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.box6 h1 {
	font-size: 20px;
}
.box3, .box4, .boxA-inner, .box5-inner, .box6, .box7 {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.box2 {
	float: right;
	padding-top: 94px;
	width: auto;
}
.box6:after {
	content: "";
	display: block;
	clear: both;
}
.box6-1 {
	float: left;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
}
.box6-2 {
	float: left;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
}
.box6-3 {
	float: left;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
}
.box6-4 {
	float: left;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
}
.box7:after {
	content: "";
	display: block;
	clear: both;
}
.box7-1 {
	float: right;
	width: 80%;
	padding-left: 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.box7-1 img {
	width: 100%;
}
.box7-2 {
	float: left;
	width: 20%;
}
.box8 {
	padding-left: 15px;
	padding-bottom: 20px;
}
.box8:after {
	content: "";
	display: block;
	clear: both;
}
.box8-A {
	float: left;
	width: 378px;
}
.box8-B {
	float: left;
	width: 557px;
	padding-left: 10px;
}
}
.tag_member {
	display: inline-block;
	color: #000000;
	font-weight: bold;
}
.tag_research1 {
	display: inline-block;
	color: #FF0000;
	font-weight: bold;
}
.tag_research2 {
	display: inline-block;
	color: #FFAA00;
	font-weight: bold;
}
.tag_research3 {
	display: inline-block;
	color: #00AA00;
	font-weight: bold;
}
.tag_research4 {
	display: inline-block;
	color: #0000FF;
	font-weight: bold;
}
.tag_achieve {
	display: inline-block;
	color: #000000;
	font-weight: bold;
}
.tag_link {
	display: inline-block;
	color: #000000;
	font-weight: bold;
}
